<!doctype html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <title>sf haitao webapp seo</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <link rel="shortcut icon" href="/favicon.ico">
    </head>
    <body>
        <div class="container">
            <div class="header">
                <ul class="nav nav-pills pull-right">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
                <h3 class="text-muted">sf haitao webapp seo</h3>
            </div>

            <div class="row">
              <%= error %>
            </div>

            <div class="footer">
                <p><span class="glyphicon glyphicon-heart"></span> from the Yeoman team</p>
            </div>

        </div>
</body>
</html>
