<div>
  <h3><%= bookinfo.title %></h3>
  <div>
    <span>作者:</span>
    <% bookinfo.author.forEach(function(name){ %>
      <span class="label label-danger"><%= name%></span>
    <% }) %>
  </div>
  <br>
  <div>
    <%= bookinfo.summary %>
  </div>
  <div>
    <% bookinfo.tags.forEach(function(tag){ %>
      <span class="label label-success"><%= tag.name%></span>
    <% }) %>
  </div>
  <br>
</div>